.column {
	/*float: right;*/
	position: relative;
	/*left: 30px;*/
	width: 50%;
	max-width: 900px; 
	word-wrap: break-word;
	padding-left: 20px;
	padding-right: 20px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#header {
	font-size: x-large;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}